@model CRUD_Practice.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div><h6>@ViewData["Message"]</h6></div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for=Gender class="control-label" asp-items="new SelectList(ViewBag.Gender)"></select>               
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div>End Game  : @Html.RadioButtonFor(m => m.FavMovie,"End Game")</div>
            <div>Infinity War  : @Html.RadioButtonFor(m => m.FavMovie,"Infinity War")</div>
            <div>Far from Home  : @Html.RadioButtonFor(m => m.FavMovie,"Far from Home")</div>
            <div> No Way Home  : @Html.RadioButtonFor(m => m.FavMovie,"No Way Home")</div>    
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
