@model IEnumerable<CRUD_Practice.Models.User>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-dark text-decoration-none" asp-controller="Practice" asp-action="Index">@Html.DisplayNameFor(model => model.Id)<i class="bi bi-sort-up"></i></a>
            </th>
            <th>
                <a class="text-dark text-decoration-none" asp-controller="Practice" asp-action="SortFName">@Html.DisplayNameFor(model => model.FName)<i class="bi bi-sort-up"></i></a>
            </th>
            <th>
                <a class="text-dark text-decoration-none" asp-controller="Practice" asp-action="SortLName">@Html.DisplayNameFor(model => model.LName)<i class="bi bi-sort-up"></i></a>
            </th>
            <th>
                <a class="text-dark text-decoration-none" asp-controller="Practice" asp-action="Sort">@Html.DisplayNameFor(model => model.Age)<i class="bi bi-sort-numeric-up"></i></a>
            </th>
            <th>
                 <a class="text-dark text-decoration-none" asp-controller="Practice" asp-action="SortGen">@Html.DisplayNameFor(model => model.Gender)<i class="bi bi-sort-up"></i></a>
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.FavMovie)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.FavCharacter)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.LName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                    </td> 
                     <td>
                    @Html.DisplayFor(modelItem => item.FavMovie)
                    </td> 
                    <td>
                    @Html.DisplayFor(modelItem => item.FavCharacter)
                    </td> 
                    <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |
                    @* <a asp-action="@Html.Partial("Details",item)">Details</a>*@
                    @Html.Partial("Details",item)
                    @*<a href="#" onclick="ShowDetails(@item.Id)">Details</a>|*@
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                    </td>
                    @*<td>
                        <div id="@item.Id">
                            @Html.Partial("Details",item)
                        </div>
                    </td>*@
       </tr>
        }
    </tbody>
</table>
@*<script>
    function ShowDetails(id){
       id.toggle();
    }
</script>*@


